@model Blog

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Blog</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlogID"/>
            <input type="hidden" asp-for="CreatedDate"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control"/>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>

            @* <div class="form-group">
                <label for="BlogPictureUpload" class="control-label">Profile Picture</label>
                <input value="@String.Format("data:image/jpeg;base64,{0}", Convert.ToBase64String(Model.BlogPicture))" type="file" name="BlogPictureUpload" class="form-control" />
            </div> *@

            <div class="form-group">
                <label for="BlogPictureUpload" class="control-label">Profile Picture</label>
                @if (Model.BlogPicture != null && Model.BlogPicture.Length > 0)
                {
                    <input type="file" name="BlogPictureUpload" value="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.BlogPicture))" class="form-control"/>
                }
                else
                {
                    <input type="file" name="BlogPictureUpload" class="form-control"/>
                }

            </div>

            @* <div class="form-group">
                <label for="BlogPictureUpload" class="control-label">Profile Picture</label>
                @if (Model.BlogPicture != null && Model.BlogPicture.Length > 0)
                {
                    <img src="@String.Format("data:image/jpeg;base64,{0}", Convert.ToBase64String(Model.BlogPicture))" alt="Existing Image" class="img-fluid" />
                }
                <input type="file" name="BlogPictureUpload" class="form-control" />
            </div> *@

            @* <div class="form-group">
                <label for="ProfilePictureUpload" class="control-label">Profile Picture</label>
                @if (Model.BlogPicture != null && Model.BlogPicture.Length > 0)
                {
                    <img src="@String.Format("data:image/jpeg;base64,{0}", Convert.ToBase64String(Model.BlogPicture))" alt="Existing Image" class="img-fluid" />
                }
                <input type="file" name="BlogPicture" class="form-control" />
                <span asp-validation-for="BlogPicture" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}